<html ng-app="repeatApp">
  <head>
      <meta charset="utf-8"/>
      <title>Angular input change monitor</title>
      <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
      <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.min.js"></script>
      <script type="text/javascript">
          var app = angular.module('repeatApp', [ ]);
          app.controller("RepeatCtrl", function($scope){
            $scope.names = ['Larry', 'Curly', 'Moe'];
            $scope.textInput = { name: "" };

            $scope.addName = function() {
              $scope.names.push($scope.textInput.name);
              // $scope.textInput.name = '';
            }
            $scope.removeName = function(removeIndex) {
              $scope.names.splice(removeIndex, 1)
            }
          });
      </script>
  </head>

  <body>
    <div ng-controller="RepeatCtrl">
      <ul>
        <li ng-repeat="name in names">
        {{ name }} <!-- <a href="javacript:void(0)" ng-click="removeName($index)">Remove</a> -->
        </li>
      </ul>
      <form ng-submit="addName()">
        <input type="text" ng-model="textInput.name"/>
        <input type="submit" value="add"/>
      </form>
    </div>
  </body>
</html>