<html ng-app="repeatApp">
  <head>
      <meta charset="utf-8"/>
      <title>Angular input change monitor</title>
      <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.min.js"></script>
      <script type="text/javascript">
          var app = angular.module('repeatApp', [ ]);
          app.controller("RepeatCtrl", function($scope){
            $scope.names = ['Larry', 'Curly', 'Moe'];
          });
      </script>
  </head>

  <body>
    <div ng-controller="RepeatCtrl">
      <ul>
        <li ng-repeat="name in names">
          {{ $first }}
          <span ng-if="$first">Gabi </span>
          {{ name }}
        </li>
      </ul>
    </div>
  </body>
</html>